<!DOCTYPE html>
<html>
<head>
  <title> Programming </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
  <link rel="stylesheet"type="text/css"href="/static/stylesheet/mystylesheet_contact.css">
  <link rel="stylesheet"href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
  <div class="navbar-wrapper">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Home</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="hello.html">Get In Touch</a>
            </li>
          </ul>
       </div>
  </div>
</div>

  <div class="header">
  <h1>About</h1>
  </div>

  <div class="row">
    <p>This website provides resources for undergraduates in the life sciences who want to learn a programming language but don't have access to the appropriate resources on their degree course. We hope to help you choose which language is the most appropriate for your purposes and give you some pointers towards resources to help you get started!<p>
    <h3>Matlab, Python or R?</h3>
    <p> It is likely that you will have heard different opinions on which programming language is easiest to learn, the most versatile, or the best. The truth is there are a lot of opinions out there and there are advantages and disadvantages to each but you have to find out which one is the most appropriate for what you need and want to do. A good way to find out which one you are likely to use later on would be to ask potential supervisors or researchers currently active in the area you would like to work in for their opinion, but you can also look at some job adverts for PhD or post-doc positions that would interest you, or even specific papers you found interesting.<p>
    <h3>Online Courses</h3>
    <p> An easy way to get started with learning to code are online courses, for instance on Coursera or CodeAcademy (which has recently started offering R!). Some courses charge a small fee, but there are plenty of free options out there. There are free options to learn Matlab and Python on Coursera, and you can find both R and Python on CodeAcademy. However, if you would like to have a certificate or be able to hand in homework you will likely have to pay a fee. If you have a Matlab license (for instance via your university) you should also check out MathWorks own online course(s) to get started with Matlab!<p>
    <h3>Books</h3>
    <p> For any one who prefers learning old-school from books, there are plenty of resources out there! If you are an aspiring psychologist interested in statistics in R, I can recommend Andy Field's "Discovering Statistics Using R"; for Python, try: "Think Python!", there are several books teaching you how to think like a computer scientist when solving the specific problems you are facing! And for Matlab, there is a book called: "Matlab for Beginners: A Gentle Approach". <p>
  </div>

  <footer>
    <p><p>
  </footer>


        </body>
        </html>
